In [29]:
from sklearn.neighbors import LocalOutlierFactor
import pandas as pd

In [30]:
clf = LocalOutlierFactor(n_neighbors=3)

In [31]:
df = pd.DataFrame({"Age": [30, 35, 40, 43, 80, 90], 
                  "Money": [100, 120, 600, 800, 11000, 12000], 
                  "Housing": [100, 120, 130, 105, 2000, 3000]})

In [32]:
df

   Age  Money  Housing
0   30    100      100
1   35    120      120
2   40    600      130
3   43    800      105
4   80  11000     2000
5   90  12000     3000

In [33]:
clf.fit_predict(df.values)

array([ 1,  1,  1,  1, -1, -1])

In [34]:
clf.negative_outlier_factor_

array([ -0.96460066,  -0.97834757,  -1.10198605,  -0.96460066,
       -11.35354136, -11.78016411])

In [36]:
df["IsOut"] = clf.fit_predict(df.values)

In [37]:
df

   Age  Money  Housing  IsOut
0   30    100      100      1
1   35    120      120      1
2   40    600      130      1
3   43    800      105      1
4   80  11000     2000     -1
5   90  12000     3000     -1